:root{
    --branco: #ffffff;
    --azul-escuro: #1a1f44;
    --azul-claro: #5169a2;
    --amarelo: #ffd800;

    --tamanho-h1: 2.75em;
    --tamanho-h2: 1.125em;
    --tamanho-footer: 0.875em;

    --fonte: "Space Mono", monospace;
}
